*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/*------ Settings ------*/
.btn-container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.btn-container .moon {
  position: absolute;
  animation: keyframes-fill .5s;
}

.btn-container .sun {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
  
}

/* ------ On check event ------ */
.btn-container input:checked ~ .moon {
  display: none;
}

.btn-container input:checked ~ .sun {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}